<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USARPS</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>
<body>
    <h1 id="header">USARPS - CHAMPIONSHIP</h1>

    <div class="all-content">
        <div class="all-entries">
            <div class="entry">
                <div class="entry-header">
                    <h2>Game between Kiki and Julian</h2>
                </div>
                <div class="entry-content">
                    <div class="content left-opponent">Linker Spieler</div>
                    <div class="content results">Ergebnis</div>
                    <div class="content right-opponent">Rechter Spieler</div>
                </div>
                <button class="del-button">
                    delete
                </button>
            </div>
            <div class="entry">
                <div class="entry-header">
                    <h2>Game between Jürgen and Mohammed</h2>
                </div>
                <div class="entry-content">
                    <div class="content left-opponent">Linker Spieler</div>
                    <div class="content results">Ergebnis</div>
                    <div class="content right-opponent">Rechter Spieler</div>
                </div>
            </div>
            <button type="button" onclick="window.location.href='add.html'">
                Add Game
            </button>
        </div>
    </div>
</body>
</html>