<!DOCTYPE html>
<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USARPS</title>
    <link rel="stylesheet" href="/templates/CSS/index.css" />
    <script defer src="/src/scripts/script.js"></script>
  </head>
  <body>
    <h1 id="header">USARPS - CHAMPIONSHIP</h1>

    <div class="all-content">
      <div class="all-entries">
        <f:for each="{gamerounds}" as="round">
          <div class="entry">
            <div class="entry-header">
              <h2 class="entry-headline">
                Game between {round.player1.firstname} and
                {round.player2.firstname} <span class="date-time">{round.date} {round.time}</span>
              </h2>
            </div>
            <div class="entry-content">
              <div class="content left-opponent">
                <p>{round.player1.firstname} {round.player1.lastname}</p>
                <h3>{round.player1.playerSymbol}</h3>
              </div>
              <div class="content results">
                <p>Outcome</p>
                <h3>{round.winner}</h3>
              </div>
              <div class="content right-opponent">
                <p>{round.player2.firstname} {round.player2.lastname}</p>
                <h3>{round.player2.playerSymbol}</h3>
              </div>
            </div>
            <button data-id="{round.id}" class="del-button">delete</button>
          </div>
        </f:for>
        <button
          type="button"
          onclick="window.location.href='/templates/add.html'"
        >
          Add Game
        </button>
      </div>
    </div>
  </body>
</html>
